@use '../importer' as i;

.bento__inner {
	@include i.flex-center;
}

.bento__manage-multiple {
	@include i.block;
	@include i.flex-center;
	max-width: 343px;
	min-width: 100%;
	background-color: i.$white;
}

.social-network {
	@include i.flex-center;
	flex-direction: row;
	gap: 10px;
	margin: 16px 16px 0px;

	&__item {
		min-width: 155px;
		max-width: 155px;
		min-height: 66px;
		max-height: 66px;
		border-radius: 33px;
		padding: 12px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: -9.78px 11.74px 24.45px 0 rgba(98, 26, 123, 0.05);

		&--background {
			margin: 12px;
			min-width: 42px;
			min-height: 42px;
			background-color: i.$yellow-500;
			border-radius: 100%;
			position: relative;
			@include i.flex-center;
		}

		&--logo {
			object-fit: contain;
		}
	}

	&__info {
		text-align: left;
		margin-right: 24px;
	}

	&__name {
		font-family: DM Sans Medium, sans-serif;
		font-size: 16px;
		color: i.$black;
		line-height: 90%;
		letter-spacing: -0.06em;
	}

	&__follower {
		font-family: DM Sans Regular, sans-serif;
		font-size: 12px;
		color: #9E9E9E;
		line-height: auto;
		letter-spacing: -0.03em;
		white-space: nowrap;
	}

	&__description {
		@include i.m-text-preset-3;
		padding: 16px;
		margin: 0 16px;
	}
}





