@use '../importer' as i;

.schedule {
	@include i.flex-center;
	@include i.block;
	justify-content: space-between;
	padding: 32px 0;
	gap: 24px;
	max-width: 343px;
	min-width: 343px;
	background-color: i.$purple-100;
	position: relative;

	&__header {
		@include i.m-text-preset-3;
		font-weight: 500;
	}

	&__hr {
		margin-block-start: 0;
		margin-block-end: 0;
		margin: 12px 0;
		border-color: #8F8F8F;
		border-style: solid;
	}

	&__graph {
		@include i.block;
		background-color: i.$white;
		padding: 18px;
		position: relative;

		&-header {

			&--text {
				@include i.m-text-preset-3;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: -0.05em;
			}
		}

		&-content {
			font-family: DM Sans, sans-serif;
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0;
			color: #8F8F8F;
			font-weight: 400;
			display: flex;
			flex-direction: column;
			gap: 12px;

			&--day {
				@include i.flex-center;
				flex-direction: row;

				.day {
					padding: 3px 7px;
				}

				.dedicated {
					@include i.block;
					background-color: #FFE5E7;
					color: #DC5172;
				}
			}

			&--hours {

				.scale {
					@include i.scale;
				}

				.hours {
					display: flex;
					justify-content: space-between;
					height: 152px;
					align-items: flex-end;

					.hour {
						@include i.flex-center;
						gap: 12px;
					}

					&__12a {

						&-scale {
							height: 37px;
						}
					}

					&__3a {

						&-scale {
							height: 50px;
						}
					}

					&__6a {

						&-scale {
							height: 96px;
						}
					}

					&__9a {

						&-scale {
							height: 76px;
						}
					}

					&__12p {

						&-scale {
							height: 55px;
						}
					}

					&__3p {

						&-scale {
							height: 66px;
						}
					}

					&__6p {

						&-scale {
							height: 92px;
						}
					}

					&__9p {

						&-scale {
							height: 61px;
						}
					}
				}
			}
		}
	}

	&__description {
		@include i.text-preset-4;
		text-align: center;
		max-width: 277px;
	}

	&__most-active {
		position: absolute;
		font-family: DM Sans, sans-serif;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0;
		color: #0E803B;
		font-weight: 600;
		background-color: #DAFFE9;
		padding: 3px 7px;
		@include i.block;
		top: 106px;
		left: 56px;
	}
}

@media (min-width: 768px) {
	.schedule {
		max-width: 688px;
		min-width: 688px;
		max-height: 497px;
		min-height: 497px;
		grid-row: 3;

		&__header {
			@include i.t-text-preset-3;
		}

		&__graph {
			transform: scale(1.1);

			&-header--text {
				@include i.t-text-preset-3;
			}

			&-content {
				font-size: 14px;
			}
		}

		&__description {
			max-width: 340px;
		}
	}
}