@use '../importer' as i;

.social-media {
	background-color: i.$purple-500;
	@include i.flex-center;
	@include i.block;
	color: i.$white;
	max-width: 343px;
	min-width: 343px;
	width: 100%;

	&__hero {
		@include i.m-text-preset-1;
		font-weight: 500;
		text-align: center;
		margin: 40px 16px 24px;

		&--yellow-text {
			color: i.$yellow-500;
		}
	}

	.bento__rate {
		width: fit-content;
		@include i.flex-center;
		margin-bottom: 40px;
		gap: 8px;
	}

	&__description {
		@include i.text-preset-4;
	}
}

@media (min-width: 768px) {
	.social-media {
		min-width: 688px;
		max-width: 688px;
		min-height: 324px;
		max-height: 324px;
		grid-row: 1;

		&__hero {
			@include i.t-text-preset-1;
			margin: 72px 76px 24px;
			padding: 0 72px;
		}
	}
}