@use '../importer' as i;

.write-your-content {
	@include i.block;
	@include i.full-size;
	@include i.full-size;
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	gap: 24px;
	background-color: i.$yellow-500;

	&__header {
		@include i.m-text-preset-2;
		font-weight: 500;
		width: 100%;
	}

	&__content {
		.content {
			width: 100%;
			position: relative;

			&__chat {
				width: 204px;
				background-color: i.$white;
				@include i.block;
				display: flex;
				flex-direction: column;
				gap: 25px;
				padding: 16px;

				p {
					font-family: "DM Sans Regular", sans-serif;
					font-size: 12px;
					font-weight: 400;
					line-height: 18px;
				}

				&-up {
					display: flex;
					justify-content: space-between;
					gap: 7px;

					.user-message {
						@include i.block;
						background-color: i.$red-100;
						text-align: right;
						padding: 7px 16px;
					}

					.user-avatar {
						@include i.avatar-base;

						img {
							width: 34px;
							height: 34px;
						}
					}
				}

				&-down {
					display: flex;
					justify-content: space-between;
					gap: 7px;

					.ai-message {
						@include i.block;
						background-color: i.$orange-100;
						text-align: left;
						padding: 7px 16px;
						overflow: hidden;
						height: 97px;
					}

					.ai-avatar {
						@include i.avatar-base;
						@include i.flex-center;

						img {
							width: 17px;
							height: 17px;
						}
					}
				}
			}

			&__button {
				background-color: i.$white;
				width: 89px;
				height: 89px;
				@include i.circle;
				@include i.flex-center;
				position: absolute;
				top: 50px;
				left: 131px;

				&-background {
					width: 54px;
					height: 54px;
					background-color: i.$yellow-500;
					@include i.circle;
					@include i.flex-center;
				}

				&-up-arrow {
					width: 24px;
					height: 24px;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.write-your-content {
		max-width: none;
		grid-row: 6;

		&__header {
			@include i.t-text-preset-2;
		}
	}
}

@media (min-width: 1488px) {
	.write-your-content {
		max-width: none;
		grid-row: 3 / 5;
		grid-column: 1 / 2;

		&__header {
			@include i.d-text-preset-2;
		}
	}
}