@import '@fontsource/dm-sans/400.css';
@import '@fontsource/dm-sans/500.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  padding: 0 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.social-media {
  background-color: #7551DC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  color: #fff;
  max-width: 100%;
  width: 100%;
}
.social-media__hero {
  font-family: "DM Sans Medium", sans-serif;
  font-size: 46px;
  line-height: 42px;
  letter-spacing: -0.04em;
  font-weight: 500;
  text-align: center;
  margin: 40px 16px 24px;
}
.social-media__hero--yellow-text {
  color: #FFCC6A;
}
.social-media .bento__rate {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 8px;
}
.social-media__description {
  font-family: "DM Sans Regular", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 100;
}

@media (min-width: 768px) {
  .social-media {
    min-width: 688px;
    max-width: 688px;
    min-height: 324px;
    max-height: 324px;
    grid-row: 1;
  }
  .social-media__hero {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 54px;
    line-height: 48px;
    letter-spacing: -0.04em;
    margin: 72px 76px 24px;
    padding: 0 72px;
  }
}
@media (min-width: 1488px) {
  .social-media {
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 2/4;
  }
  .social-media__hero {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 62px;
    line-height: 58px;
    letter-spacing: -3px;
    margin: 62px 32px 24px;
    max-width: 480px;
    min-width: 480px;
    padding: 0;
  }
}
.bento__manage-multiple {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
}

.social-network {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  gap: 10px;
  margin: 16px 16px 0px;
}
.social-network__item {
  max-width: 155px;
  width: 100%;
  max-height: 66px;
  height: 100%;
  border-radius: 33px;
  padding: 12px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -9.78px 11.74px 24.45px 0 rgba(98, 26, 123, 0.05);
}
.social-network__item--background {
  margin: 12px;
  min-width: 42px;
  min-height: 42px;
  background-color: #FFCC6A;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.social-network__item--logo {
  object-fit: contain;
}
.social-network__info {
  text-align: left;
  margin-right: 24px;
}
.social-network__name {
  font-family: DM Sans Medium, sans-serif;
  font-size: 16px;
  color: #121212;
  line-height: 90%;
  letter-spacing: -0.06em;
}
.social-network__follower {
  font-family: DM Sans Regular, sans-serif;
  font-size: 12px;
  color: #9E9E9E;
  line-height: normal;
  letter-spacing: -0.03em;
  white-space: nowrap;
}
.social-network__description {
  font-family: "DM Sans Medium", sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
  padding: 16px;
  margin: 0 16px;
}

@media (min-width: 768px) {
  .bento__manage-multiple {
    width: 100%;
    height: 100%;
    gap: 54px;
    grid-row: 2;
  }
  .social-network__description {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: -0.06em;
    margin: 0px 96px 24px 24px;
    padding: 0;
  }
}
@media (min-width: 1488px) {
  .bento__manage-multiple {
    gap: 20px;
    grid-row: 2/4;
    grid-column: 2/3;
  }
  .social-network {
    transform: scale(0.9);
    margin: 0 auto;
  }
  .social-network__description {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 32px;
    line-height: 28px;
    letter-spacing: -2px;
    padding: 0;
    max-width: 208px;
    min-width: 208px;
    text-align: left;
    align-self: flex-start;
  }
}
.maintain {
  border-radius: 10px;
  background-color: #FFCC6A;
  padding: 16px 16px 0 16px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}
.maintain__text {
  font-family: "DM Sans Medium", sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
}
.maintain__illustrations {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  max-width: 208px;
  max-height: 157px;
  height: 157px;
}
.maintain__hero {
  background-color: #7551DC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-family: "DM Sans Medium", sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
  font-size: 16px;
  line-height: 14px;
}
.maintain__hero-date, .maintain__hero-week {
  margin: 12.5px;
}
.maintain__table {
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.maintain__table--cols {
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 17px;
}
.maintain__table--cols-square {
  background-color: #F9EEE2;
  height: 23px;
  width: 23px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .maintain {
    max-width: 328px;
    max-height: 247px;
    grid-row: 2;
  }
  .maintain__text {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: -0.06em;
  }
}
@media (min-width: 1488px) {
  .maintain {
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
    grid-row: 2/4;
    grid-column: 3/4;
    padding: 24px 24px 0 24px;
    gap: 0;
    justify-content: space-between;
  }
  .maintain__text {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -2px;
    max-width: 90%;
    flex-shrink: 0;
    margin: auto;
  }
  .maintain__illustrations {
    margin-left: 24px;
    margin-top: auto;
    flex-shrink: 0;
  }
}
.schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  padding: 32px 0;
  gap: 24px;
  max-width: 100%;
  background-color: #DBD1FC;
  position: relative;
}
.schedule__header {
  font-family: "DM Sans Medium", sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
  font-weight: 500;
}
.schedule__hr {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 12px 0;
  border-color: #8F8F8F;
  border-style: solid;
}
.schedule__graph {
  border-radius: 10px;
  background-color: #fff;
  padding: 18px;
  position: relative;
}
.schedule__graph-header--text {
  font-family: "DM Sans Medium", sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.05em;
}
.schedule__graph-content {
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: #8F8F8F;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.schedule__graph-content--day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
}
.schedule__graph-content--day .day {
  padding: 3px 7px;
}
.schedule__graph-content--day .dedicated {
  border-radius: 10px;
  background-color: #FFE5E7;
  color: #DC5172;
}
.schedule__graph-content--hours .scale {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
}
.schedule__graph-content--hours .hours {
  display: flex;
  justify-content: space-between;
  height: 152px;
  align-items: flex-end;
}
.schedule__graph-content--hours .hours .hour {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.schedule__graph-content--hours .hours__12a-scale {
  height: 37px;
}
.schedule__graph-content--hours .hours__3a-scale {
  height: 50px;
}
.schedule__graph-content--hours .hours__6a-scale {
  height: 96px;
}
.schedule__graph-content--hours .hours__9a-scale {
  height: 76px;
}
.schedule__graph-content--hours .hours__12p-scale {
  height: 55px;
}
.schedule__graph-content--hours .hours__3p-scale {
  height: 66px;
}
.schedule__graph-content--hours .hours__6p-scale {
  height: 92px;
}
.schedule__graph-content--hours .hours__9p-scale {
  height: 61px;
}
.schedule__description {
  font-family: "DM Sans Regular", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 100;
  text-align: center;
  max-width: 277px;
}
.schedule__most-active {
  position: absolute;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: #0E803B;
  font-weight: 600;
  background-color: #DAFFE9;
  padding: 3px 7px;
  border-radius: 10px;
  top: 106px;
  left: 56px;
}

@media (min-width: 768px) {
  .schedule {
    max-width: 100%;
    max-height: 100%;
    grid-column: 1/3;
    grid-row: 3;
  }
  .schedule__header {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: -0.06em;
  }
  .schedule__graph {
    transform: scale(1.1);
  }
  .schedule__graph-header--text {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: -0.06em;
  }
  .schedule__graph-content {
    font-size: 14px;
  }
  .schedule__description {
    max-width: 340px;
  }
}
@media (min-width: 1488px) {
  .schedule {
    min-width: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    grid-row: 1/4;
    grid-column: 4;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 24px;
  }
  .schedule__header {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 32px;
    line-height: 28px;
    letter-spacing: -2px;
    text-align: center;
  }
  .schedule__graph {
    min-height: 0;
  }
  .schedule__graph-header--text {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 32px;
    line-height: 28px;
    letter-spacing: -2px;
  }
  .schedule__graph-content {
    font-size: 14px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 0;
  }
  .schedule__description {
    max-width: 100%;
  }
}
.grow-followers {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background-color: #7551DC;
  max-width: 100%;
  padding: 24px;
}
.grow-followers__blocks {
  max-width: 228px;
  width: 228px;
  max-height: 200px;
  height: 200px;
  position: relative;
}
.grow-followers__blocks--graphs {
  border-radius: 10px;
  background-color: #fff;
  padding: 26px;
  width: 196px;
  height: 188px;
}
.grow-followers__blocks--graphs .graphs {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.grow-followers__blocks--graphs .graphs__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.grow-followers__blocks--graphs .graphs__header {
  font-family: DM Sans Regular, sans-serif;
  font-size: 14px;
  letter-spacing: -0.03em;
  font-weight: 400;
  color: #9E9E9E;
}
.grow-followers__blocks--graphs .graphs__numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grow-followers__blocks--graphs .graphs__followers {
  font-family: "DM Sans Medium", sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
}
.grow-followers__blocks--graphs .graphs__growth {
  background-color: #DAFFE9;
  height: fit-content;
  border-radius: 9px;
}
.grow-followers__blocks--graphs .graphs__growth p {
  font-family: DM Sans Medium, sans-serif;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: -0.05em;
  color: #0E803B;
  margin: 3px 7px;
}
.grow-followers__blocks--graphs .graphs__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.grow-followers__blocks--graphs .graphs__content-item1 {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 44px;
}
.grow-followers__blocks--graphs .graphs__content-item2 {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 54px;
}
.grow-followers__blocks--graphs .graphs__content-item3 {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 59px;
}
.grow-followers__blocks--graphs .graphs__content-item4 {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 75px;
}
.grow-followers__blocks--graphs .graphs__content-item5 {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 75px;
}
.grow-followers__blocks--notice {
  width: 181px;
  height: 68px;
  border-radius: 34px;
  background-color: #fff;
  position: absolute;
  top: 130px;
  left: 50px;
}
.grow-followers__blocks--notice .notice {
  display: flex;
  flex-direction: row;
  gap: 7px;
  padding: 13px;
}
.grow-followers__blocks--notice .notice--background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFCC6A;
  min-width: 42px;
  min-height: 42px;
  border-radius: 100%;
}
.grow-followers__blocks--notice .notice__info-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.grow-followers__blocks--notice .notice__text {
  font-family: DM Sans Regular, sans-serif;
  font-size: 14px;
  letter-spacing: -0.03em;
  font-weight: 400;
  color: #9E9E9E;
}
.grow-followers__blocks--notice .notice__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grow-followers__blocks--notice .notice__numbers {
  font-family: "DM Sans Medium", sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
  font-size: 20px;
}
.grow-followers__blocks--notice .notice__growth {
  background-color: #DAFFE9;
  height: fit-content;
  border-radius: 9px;
}
.grow-followers__blocks--notice .notice__growth p {
  font-family: DM Sans Medium, sans-serif;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: -0.05em;
  color: #0E803B;
  margin: 3px 7px;
}
.grow-followers__text {
  font-family: "DM Sans Medium", sans-serif;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -0.06em;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 768px) {
  .grow-followers {
    max-width: 688px;
    min-width: 688px;
    flex-direction: row;
    grid-row: 4;
  }
  .grow-followers__text {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: -0.06em;
    font-weight: 500;
    max-width: 257px;
    text-align: left;
  }
}
@media (min-width: 1488px) {
  .grow-followers {
    width: 100%;
    height: 100%;
    flex-direction: row;
    grid-row: 4;
    grid-column: 3/5;
  }
  .grow-followers__text {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: -0.06em;
    font-weight: 500;
    max-width: 257px;
    text-align: left;
  }
}
.faster {
  border-radius: 10px;
  max-width: 100%;
  padding: 24px;
}
.faster__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 24px;
}
.faster__text-header {
  font-family: "DM Sans Medium", sans-serif;
  font-size: 46px;
  line-height: 42px;
  letter-spacing: -0.04em;
  font-weight: 500;
}
.faster__text-description {
  font-family: "DM Sans Regular", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 100;
}
.faster__avatars {
  display: flex;
  position: relative;
}
.faster__avatars .avatars-background {
  width: 67px;
  height: 67px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}
.faster__avatars-item-1 {
  background-color: #DBD1FC;
}
.faster__avatars-item-2 {
  background-color: #F9EEE2;
  left: -10px;
  z-index: 1;
}
.faster__avatars-item-3 {
  background-color: #DBD1FC;
  left: -10px;
  z-index: 2;
}

@media (min-width: 768px) {
  .faster {
    max-width: 688px;
    min-width: 688px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 5;
  }
  .faster__text-header {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 54px;
    line-height: 48px;
    letter-spacing: -0.04em;
  }
}
@media (min-width: 1488px) {
  .faster {
    min-width: 0;
    width: 100%;
    height: 100%;
    display: block;
    grid-row: 4;
    grid-column: 2/3;
  }
  .faster__text-header {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 62px;
    line-height: 58px;
    letter-spacing: -3px;
  }
}
.create {
  border-radius: 10px;
  background-color: #F9EEE2;
  max-width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.create__header {
  font-family: "DM Sans Medium", sans-serif;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -0.06em;
  font-weight: 500;
  color: #121212;
}
.create__dedicated-text {
  color: #7551DC;
  width: 100%;
}
.create__image {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.create__image-button {
  display: flex;
  gap: 10px;
  background-color: #FFCC6A;
  width: fit-content;
  padding: 17px 26px;
  border-radius: 28px;
}
.create__image-button .button__text {
  font-family: "DM Sans Regular", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 100;
  line-height: normal;
  font-weight: 600;
  color: #7551DC;
}
.create__image-cursor {
  width: 35px;
  height: 36px;
  position: relative;
  left: 78px;
  top: -5px;
}

@media (min-width: 768px) {
  .create {
    width: 100%;
    height: 100%;
    justify-self: stretch;
    align-self: stretch;
    justify-content: center;
    grid-row: 6;
  }
  .create__header {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: -0.06em;
  }
}
@media (min-width: 1488px) {
  .create {
    width: 100%;
    height: 100%;
    justify-self: stretch;
    align-self: stretch;
    justify-content: center;
    grid-row: 1/3;
    grid-column: 1/2;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .create__header {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -2px;
    width: 100%;
  }
}
.write-your-content {
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  justify-self: stretch;
  align-self: stretch;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 24px;
  background-color: #FFCC6A;
}
.write-your-content__header {
  font-family: "DM Sans Medium", sans-serif;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -0.06em;
  font-weight: 500;
  width: 100%;
}
.write-your-content__content .content {
  width: 100%;
  position: relative;
}
.write-your-content__content .content__chat {
  width: 204px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 16px;
}
.write-your-content__content .content__chat p {
  font-family: DM Sans Regular, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.write-your-content__content .content__chat-up {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}
.write-your-content__content .content__chat-up .user-message {
  border-radius: 10px;
  background-color: #FFEDED;
  text-align: right;
  padding: 7px 16px;
}
.write-your-content__content .content__chat-up .user-avatar {
  background-color: #DBD1FC;
  overflow: hidden;
  min-width: 34px;
  height: 34px;
  border-radius: 100%;
}
.write-your-content__content .content__chat-up .user-avatar img {
  width: 34px;
  height: 34px;
}
.write-your-content__content .content__chat-down {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}
.write-your-content__content .content__chat-down .ai-message {
  border-radius: 10px;
  background-color: #FCEBD1;
  text-align: left;
  padding: 7px 16px;
  overflow: hidden;
  height: 97px;
}
.write-your-content__content .content__chat-down .ai-avatar {
  background-color: #DBD1FC;
  overflow: hidden;
  min-width: 34px;
  height: 34px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.write-your-content__content .content__chat-down .ai-avatar img {
  width: 17px;
  height: 17px;
}
.write-your-content__content .content__button {
  background-color: #fff;
  width: 89px;
  height: 89px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 131px;
}
.write-your-content__content .content__button-background {
  width: 54px;
  height: 54px;
  background-color: #FFCC6A;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.write-your-content__content .content__button-up-arrow {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .write-your-content {
    max-width: none;
    grid-row: 6;
  }
  .write-your-content__header {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: -0.06em;
  }
}
@media (min-width: 1488px) {
  .write-your-content {
    max-width: none;
    grid-row: 3/5;
    grid-column: 1/2;
  }
  .write-your-content__header {
    font-family: "DM Sans Medium", sans-serif;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -2px;
  }
}
.bento {
  display: grid;
  max-width: 375px;
  margin: 40px auto;
  gap: 32px;
}

.italic {
  font-style: italic;
}

@media (min-width: 768px) {
  .bento {
    max-width: 688px;
    width: 100%;
    grid-template-columns: repeat(2, 328px);
    grid-template-rows: 324px 247px 497px 248px 155px 355px;
  }
}
@media (min-width: 1488px) {
  .bento {
    max-width: 1408px;
    width: 100%;
    grid-template-columns: repeat(4, 328px);
    grid-template-rows: 324px 132px 210px 246px;
  }
}

/*# sourceMappingURL=main.css.map */
