* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

.social-media {
  background-color: #7551DC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  color: #fff;
  max-width: 343px;
  min-width: 343px;
  width: 100%;
}
.social-media__hero {
  font-family: DM Sans Medium, sans-serif;
  font-size: 46px;
  line-height: 42px;
  letter-spacing: -0.04em;
  font-weight: 500;
  text-align: center;
  margin: 40px 16px 24px;
}
.social-media__hero--yellow-text {
  color: #FFCC6A;
}
.social-media .bento__rate {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 8px;
}
.social-media__description {
  font-family: DM Sans Regular, sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 100;
}

.bento__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.bento__manage-multiple {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 343px;
  min-width: 100%;
  background-color: #fff;
}

.social-network {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  gap: 10px;
  margin: 16px 16px 0px;
}
.social-network__item {
  min-width: 155px;
  max-width: 155px;
  min-height: 66px;
  max-height: 66px;
  border-radius: 33px;
  padding: 12px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -9.78px 11.74px 24.45px 0 rgba(98, 26, 123, 0.05);
}
.social-network__item--background {
  margin: 12px;
  min-width: 42px;
  min-height: 42px;
  background-color: #FFCC6A;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.social-network__item--logo {
  object-fit: contain;
}
.social-network__info {
  text-align: left;
  margin-right: 24px;
}
.social-network__name {
  font-family: DM Sans Medium, sans-serif;
  font-size: 16px;
  color: #121212;
  line-height: 90%;
  letter-spacing: -0.06em;
}
.social-network__follower {
  font-family: DM Sans Regular, sans-serif;
  font-size: 12px;
  color: #9E9E9E;
  line-height: auto;
  letter-spacing: -0.03em;
  white-space: nowrap;
}
.social-network__description {
  font-family: DM Sans Medium, sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
  padding: 16px;
  margin: 0 16px;
}

.maintain {
  border-radius: 10px;
  background-color: #FFCC6A;
  padding: 16px 16px 0 16px;
  max-width: 343px;
  max-height: 216px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}
.maintain__text {
  font-family: DM Sans Medium, sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
}
.maintain__illustrations {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  max-width: 208px;
  max-height: 157px;
  height: 157px;
}
.maintain__hero {
  background-color: #7551DC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-family: DM Sans Medium, sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
  font-size: 16px;
  line-height: 14px;
}
.maintain__hero-date, .maintain__hero-week {
  margin: 12.5px;
}
.maintain__table {
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.maintain__table--cols {
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 17px;
}
.maintain__table--cols-square {
  background-color: #F9EEE2;
  height: 23px;
  width: 23px;
  border-radius: 4px;
}

.schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  padding: 32px 0;
  gap: 24px;
  max-width: 343px;
  width: 343px;
  background-color: #DBD1FC;
  position: relative;
}
.schedule__header {
  font-family: DM Sans Medium, sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
  font-weight: 500;
}
.schedule__hr {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 12px 0;
  border-color: #8F8F8F;
  border-style: solid;
}
.schedule__graph {
  border-radius: 10px;
  background-color: #fff;
  padding: 18px;
}
.schedule__graph-header--text {
  font-family: DM Sans Medium, sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.05em;
}
.schedule__graph-content {
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: #8F8F8F;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.schedule__graph-content--day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
}
.schedule__graph-content--day .day {
  padding: 3px 7px;
}
.schedule__graph-content--day .dedicated {
  border-radius: 10px;
  background-color: #FFE5E7;
  color: #DC5172;
}
.schedule__graph-content--hours .hours {
  display: flex;
  justify-content: space-between;
  height: 152px;
  align-items: flex-end;
}
.schedule__graph-content--hours .hours .hour {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.schedule__graph-content--hours .hours__12a-scale {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 37px;
}
.schedule__graph-content--hours .hours__3a-scale {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 50px;
}
.schedule__graph-content--hours .hours__6a-scale {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 96px;
}
.schedule__graph-content--hours .hours__9a-scale {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 76px;
}
.schedule__graph-content--hours .hours__12p-scale {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 55px;
}
.schedule__graph-content--hours .hours__3p-scale {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 66px;
}
.schedule__graph-content--hours .hours__6p-scale {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 92px;
}
.schedule__graph-content--hours .hours__9p-scale {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 61px;
}
.schedule__description {
  font-family: DM Sans Regular, sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 100;
  text-align: center;
  max-width: 277px;
}
.schedule__most-active {
  position: absolute;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: #0E803B;
  font-weight: 600;
  background-color: #DAFFE9;
  padding: 3px 7px;
  border-radius: 10px;
  top: 185px;
  left: 85px;
}

.grow-followers {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background-color: #7551DC;
  max-width: 343px;
  width: 343px;
  padding: 24px;
}
.grow-followers__blocks {
  max-width: 228px;
  width: 228px;
  max-height: 200px;
  height: 200px;
  position: relative;
}
.grow-followers__blocks--graphs {
  border-radius: 10px;
  background-color: #fff;
  padding: 26px;
  width: 196px;
  height: 188px;
}
.grow-followers__blocks--graphs .graphs {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.grow-followers__blocks--graphs .graphs__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.grow-followers__blocks--graphs .graphs__header {
  font-family: DM Sans Regular, sans-serif;
  font-size: 14px;
  letter-spacing: -0.03em;
  font-weight: 400;
  color: #9E9E9E;
}
.grow-followers__blocks--graphs .graphs__numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grow-followers__blocks--graphs .graphs__followers {
  font-family: DM Sans Medium, sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
}
.grow-followers__blocks--graphs .graphs__growth {
  background-color: #DAFFE9;
  height: fit-content;
  border-radius: 9px;
}
.grow-followers__blocks--graphs .graphs__growth p {
  font-family: DM Sans Medium, sans-serif;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: -0.05em;
  color: #0E803B;
  margin: 3px 7px;
}
.grow-followers__blocks--graphs .graphs__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.grow-followers__blocks--graphs .graphs__content-item1 {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 44px;
}
.grow-followers__blocks--graphs .graphs__content-item2 {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 54px;
}
.grow-followers__blocks--graphs .graphs__content-item3 {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 59px;
}
.grow-followers__blocks--graphs .graphs__content-item4 {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 75px;
}
.grow-followers__blocks--graphs .graphs__content-item5 {
  background-color: #7551DC;
  width: 19px;
  border-radius: 9.5px;
  height: 75px;
}
.grow-followers__blocks--notice {
  width: 181px;
  height: 68px;
  border-radius: 34px;
  background-color: #fff;
  position: absolute;
  top: 130px;
  left: 50px;
}
.grow-followers__blocks--notice .notice {
  display: flex;
  flex-direction: row;
  gap: 7px;
  padding: 13px;
}
.grow-followers__blocks--notice .notice--background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFCC6A;
  min-width: 42px;
  min-height: 42px;
  border-radius: 100%;
}
.grow-followers__blocks--notice .notice__info-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.grow-followers__blocks--notice .notice__text {
  font-family: DM Sans Regular, sans-serif;
  font-size: 14px;
  letter-spacing: -0.03em;
  font-weight: 400;
  color: #9E9E9E;
}
.grow-followers__blocks--notice .notice__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grow-followers__blocks--notice .notice__numbers {
  font-family: DM Sans Medium, sans-serif;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: -0.06em;
  font-size: 20px;
}
.grow-followers__blocks--notice .notice__growth {
  background-color: #DAFFE9;
  height: fit-content;
  border-radius: 9px;
}
.grow-followers__blocks--notice .notice__growth p {
  font-family: DM Sans Medium, sans-serif;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: -0.05em;
  color: #0E803B;
  margin: 3px 7px;
}
.grow-followers__text {
  font-family: DM Sans Medium, sans-serif;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -0.06em;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.faster {
  border-radius: 10px;
  max-width: 343px;
  width: 343px;
  padding: 24px;
  background-color: lightgoldenrodyellow;
}
.faster__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 24px;
}
.faster__text-header {
  font-family: DM Sans Medium, sans-serif;
  font-size: 46px;
  line-height: 42px;
  letter-spacing: -0.04em;
  font-weight: 500;
}
.faster__text-description {
  font-family: DM Sans Regular, sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 100;
}
.faster__avatars {
  display: flex;
  position: relative;
}
.faster__avatars .avatars-background {
  width: 67px;
  height: 67px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}
.faster__avatars-item-1 {
  background-color: #DBD1FC;
}
.faster__avatars-item-2 {
  background-color: #F9EEE2;
  left: -10px;
  z-index: 1;
}
.faster__avatars-item-3 {
  background-color: #DBD1FC;
  left: -10px;
  z-index: 2;
}

.bento {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 375px;
  margin: 40px auto;
  gap: 32px;
}

/*# sourceMappingURL=main.css.map */
