* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// Сброс для параграфов и заголовков
p, h1, h2, h3, h4, h5, h6 {
	margin-block-start: 0;
	margin-block-end: 0;
}

// Улучшение рендеринга шрифтов
body {
	padding: 0 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Сброс для изображений
img {
  max-width: 100%;
  height: auto;
  display: block;
}