@use 'variables' as v;

// centering elements

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

// block's form

@mixin block {
	border-radius: 10px;
}

// scale's form

@mixin scale {
	background-color: v.$purple-500;
	width: 19px;
	border-radius: 9.5px;
}

// TYPOGRAPHY

@mixin text-preset-4 {
	font-family: DM Sans Regular, sans-serif;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0px;
	font-weight: 100;
}

// mobile typography

@mixin m-text-preset-1 {
	font-family: DM Sans Medium, sans-serif;
	font-size: 46px;
	line-height: 42px;
	letter-spacing: -0.04em;
}

@mixin m-text-preset-2 {
	font-family: DM Sans Medium, sans-serif;
	font-size: 32px;
	line-height: 28px;
	letter-spacing: -0.06em;
}

@mixin m-text-preset-3 {
	font-family: DM Sans Medium, sans-serif;
	font-size: 26px;
	line-height: 24px;
	letter-spacing: -0.06em;
}

// tablet typography

@mixin t-text-preset-1 {
	font-family: DM Sans Medium, sans-serif;
	font-size: 54px;
	line-height: 48px;
	letter-spacing: -0.04em;
}

@mixin t-text-preset-2 {
	font-family: DM Sans Medium, sans-serif;
	font-size: 36px;
	line-height: 30%;
	letter-spacing: -0.06em;
}

@mixin t-text-preset-3 {
	font-family: DM Sans Medium, sans-serif;
	font-size: 28px;
	line-height: 26px;
	letter-spacing: -0.06em;
}

// desktop typography

@mixin d-text-preset-1 {
	font-family: DM Sans Medium, sans-serif;
	font-size: 62px;
	line-height: 58px;
	letter-spacing: -3px;
}

@mixin d-text-preset-2 {
	font-family: DM Sans Medium, sans-serif;
	font-size: 40px;
	line-height: 36px;
	letter-spacing: -2px;
}

@mixin d-text-preset-3 {
	font-family: DM Sans Medium, sans-serif;
	font-size: 32px;
	line-height: 28px;
	letter-spacing: -2px;
}

