// Colors
$purple-100: #DBD1FC;
$purple-500: #7551DC;
$yellow-100: #F9EEE2;
$yellow-500: #FFCC6A;
$gray-500: #8F8F8F;
$gray-400: #9E9E9E;
$green-600: #0E803B;
$green-100: #DAFFE9;
$pink-100: #FFE5E7;
$pink-500: #DC5172;
$red-100: #FFEDED;
$orange-100: #FCEBD1;
$white: #fff;
$black: #121212;

// Размеры контейнеров
$mobile-max-width: 343px;
$tablet-max-width: 688px;
$desktop-max-width: 1408px;

// Размеры компонентов
$tablet-component-width: 328px;