@use 'variables' as v;
@use 'mixins' as m;

* {
	margin: 0;
	padding: 0;
}

.bento {
	@include m.flex-center;
}

.block {
	@include m.block;
}

.bento__social-media {
	background-color: v.$purple-500;
	@include m.flex-center;
	color: v.$white;
}

.social-media__hero {
	@include m.text-preset-1;
	padding: 40px 16px 24px 16px;
	text-align: center;
}

.social-media__hero--yellow-text {
	color: v.$yellow-500;
}
